<a href="https://colab.research.google.com/github/bderosa06/In-class-assignment-set-1--Bradley-DeRosa.ipynb/blob/main/In_class_assignment_set_1_Bradley_DeRosa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Shape Area Calculator
pi = 3.14
r = 3
h = 10

Area = 2*pi*r*r + 2*pi*r*h
print(Area)

244.92000000000002

In [ ]:
#Rock-paper-scissors
import random
play_the_game = input('Do you want to play? Yes or no: ')
while play_the_game == 'Yes' :

  p1 = input("choose rock, paper, scissors: ")
  p2 = random.choice(['rock','paper','scissors'])

  if p1==p2:
    print('Draw')

  elif p1=='rock' and p2=='scissors':
    print('p1 wins')

  elif p1=='rock' and p2=='paper':
    print('p2 wins')

  elif p1=='paper' and p2=='rock':
    print('p1 wins')

  elif p1=='paper' and p2=='scissors':
    print('p2 wins')

  elif p1=='scissors' and p2=='rock':
    print('p2 wins')

  elif p1=='scissors' and p2=='paper':
    print('p1 wins')

  play_the_game == input('Do you want to play? Yes or no: ')

p1 wins

In [ ]:
#Numerical Calculator
N1= float(input("Number: "))
N2= float(input("Number: "))
Symbol = input('Operation (+, -, *, /, **): ')

if(Symbol=='+'):
  print(N1+N2)

elif(Symbol=='-'):
  print(N1-N2)

elif(Symbol=='*'):
  print(N1*N2)

elif(Symbol=='/'):
  print(N1/N2)

elif(Symbol=='**'):
  print(N1**N2)

Number: 4
Number: 5
Operation (+, -, *, /, **): +
9.0

In [ ]:
#Parking Garage
flat_rate =5
hourly_rate =2.5

for h in range (1,9):
  charge = flat_rate + hourly_rate*h
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(h,charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [ ]:
#Movie Theater
ticket_price= 10
fixed_cost= 200
fixedattendees= 20

for ad in range(0,225,25):
  additionalattendees = round (2 * ad ** 0.5)
  profit = (fixedattendees + additionalattendees)*ticket_price - ad - fixed_cost
  print(ad,profit)

0 0
25 75
50 90
75 95
100 100
125 95
150 90
175 85
200 80

In [ ]:
#Months2Numbers Dictionary
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

for idx in range(len(numbers)):
 months[numbers[idx]] = names[idx]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
#Fee Calculation and Display
def calcFee(hours, decimals=2):
    fee = 5 + hours * 2.5
    fee = round(fee, decimals)
    return fee

def displayFee(fee):
    print(fee)

h = int(input('Enter number of hours: '))
fee = calcFee(h)
displayFee(fee)

Enter number of hours: 5
17.5

In [ ]:
#Reverse Function (recursion)
def reverse(s):
  if len(s) == 1 :
    return s
  else:
    return s[-1] + reverse(s[:-1])

reverse('hello')

'olleh'

In [ ]:
#Student Class
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number

  def set_name(self, newName):
    self.__name = newName

  def get_name(self):
    return self.__name

  def __repr__(self):
    return f'Name: {self.__name}'

In [ ]:
s1 = Student("James Bond", "007")
s2 = Student("Clark Kent", "333")

In [ ]:
s2.get_name()

'Clark Kent'

In [ ]:
class Student:
  def __init__(self, name, number):
    self.__name = name
    self.number = number
    self.__courses = []

  def enroll (self,newCourse):
    if newCourse not in self.__courses:
      self.__courses.append(newCourse)
      print(f'Successfully enrolled in {newCourse}')
    else:
      print(f'You have already enrolled in {newCourse}')

  def get_courses(self):
    return self.__courses

In [ ]:
s = Student('Bob', '12345')

In [ ]:
s.enroll('ABC789')

You have already enrolled in ABC789